BasedOnStyle: Google
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 80
AccessModifierOffset: -4
IncludeBlocks: Regroup
BreakBeforeBinaryOperators: All
Cpp11BracedListStyle: false
